<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</p>
    <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.file_field :images, multiple: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
