<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_department_path(@department), class: 'btn btn-outline-warning m-2' %> |
<%= link_to 'Back', departments_path, class: 'btn btn-outline-secondary m-2' %>
<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<% @department.images.each do |image| %>
  <%= image_tag(image.url) %>
<% end %>


