<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>

  <% @company.company_images.each do |company_image | %>
    <%= image_tag (company_image.logo.url), class: 'logo-img-lg m-2' if company_image.logo.url.present? %>
  <% end %>

</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
