<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

  <% @company.company_images.each do |company_image | %>
    <% if company_image.logo.url.present? %>
      <%= image_tag (company_image.logo.url), style: 'display: block' %>
      <p>
        <strong>Small Logo: </strong>
        <%= company_image.small_logo? %>
      </p>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
